
$nav-blue: #3127ef;
$un-blue: #04ADD9;
$background: #E7F4FB;
$ocean-brown: rgb(228,198,132);
$ocean-brown-gradient: linear-gradient(180deg, rgba(228,198,132,1) 0%, rgba(128,93,15,1) 77%);
$ocean-middle: rgb(228,198,132);
$ocean-middle-gradient: linear-gradient(180deg, rgba(228,198,132,1) 0%, rgba(0,106,171,1) 77%);
$ocean-blue: rgb(124,185,242);
$ocean-blue-gradient: linear-gradient(180deg, rgba(124,185,242,1) 0%, rgba(0,106,171,1) 77%);